@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

.app{
    min-height:100vh;
    background: url(images/back.jpg);

    background-size: cover;
    
}
.contact-us-social-logo{
    height: 1.5em;
    padding-left: 1.5em;
    
}
